$main-color:#9c38fd; 
$gray-color:#f9faff;
$btn-color:#dee0e5;
$dark-color:#222222;
$p-color:#3b3b3b; 


$gradient-back: linear-gradient(238deg, rgba(186,44,255,1) 0%, rgba(119,71,251,1) 100%); 


	
	
	
	