@import 'variables.scss';
@import 'mixins.scss';
//@import 'general.scss';
//@import 'base.scss';



@font-face {
	font-family: ka;

	src: url(../fonts/Kaushan_Script/KaushanScript-Regular.ttf);
}


// start project 


//    start upper ############## 


.upper{
	padding: 20px 0; 
	box-shadow: -1px -1px 4px #ccc; 
  .contact{
		  

	    
	.row{
		justify-content: flex-end;
		p{
			margin-right: 15px; 
			font-size: 12px; 
			margin-bottom: 0; 
		}
	}
  }

  .social{ 
     i{
		margin-right: 10px; 
	 }
	
  }

}



//  start header ##########
	
.active{
	border-bottom: 5px solid #179edd;
}
// .active>.nav-link{
				
// 	color:#fce38a; 
// 	border-bottom: 5px solid #fce38a;

// }

header {
	padding: 10px 0; 
	.logo{
		img{
			width: 100%; 
			
		}
	}

	.slider {
		position: relative;


    .slider-ar{
			z-index:3;
			span{
				i{
					border: 1px solid #ccc; 
					padding: 20px; 
				}

			
				
				background-image: none;
			}
			

		}

		.carousel-inner h1 span {
			background-color: #ec1c23;
			color: #fff;
			font-weight: bold;
			display: inline-block;
			padding: 2px 10px;

		}


		.overlay {
			background-color: rgba(0, 0, 0, 0.6);
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 2;
		}

		.carousel-item {

			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}


		.carousel-inner .slide1 {

			background: url("../images_min/header.png");


		}


		.carousel-inner .slide2 {

			background: url("../images_min/hh2.png");

		}

		.carousel-inner .slide3 {

			background: url("../images_min/hh3.png");


		}



		.carousel-indicators li {

			height: 8px;
			width: 50px;
			cursor: pointer;

		}
	}

}

header{
	.carousel-inner{

		position: relative;
	}
 .intro{
				position: absolute; 
				z-index: 2; 
				display: flex; 
				height: 100%; 
				align-items: center; 
				justify-content: center;

				.content{
					.btn{
						color: white; 
						border: 1px solid #fff; 
						text-shadow: 1px 1px black;
					}

					color: white; 
					p{
						 width: 60%; 
						 display: block; 
						 margin: 0 auto; 
						 margin-bottom: 20px; 
					}
				}
				

 }
}


/*end slider */



 



// ########### features 

.features{
   padding: 60px 0; 
   background-color: #f8f8f8; 

  text-align: center; 
  .box{
	  margin-bottom: 50px; 
  }
  i{
	color: #4b4b4b; 
	font-size: 2rem;
    margin-bottom: 10px; 
  }
  h2{
	  color: #22a7f0; 
	  text-transform: uppercase; 
	  font-weight: normal; 
	  margin-bottom: 10px; 
	  font-size: 24px;
  }
  p{
	  font-size: 14px;
  }

 .row{
	 margin-bottom: 20px;
 }



}

    
// ########### projects 


.projects{
	padding: 60px 0; 
	h2{
	   color: #22a7f0; 
	   &::after{
		  content: " "; 
		  width: 100px; 
		  height: 3px;
		  display: block; 
		  background-color: #22a7f0; 
	   }
	   margin-bottom: 40px; 
	   text-transform: uppercase; 
	   font-weight: normal; 


	}

  .boxes{
  .box{
	  margin-bottom: 20px; 
	width: 100%; 
	height: 250px;
	background-color: #22a7f0; 
	display: flex; 
	justify-content: center; 
	align-items: center; 
	i{
		font-size: 2rem; 
		color: white; 
		opacity: 0;
		
	}
	&:hover{
		i{
			opacity: 1;
		}
	}

  }
     margin-bottom: 40px; 
  }
  .ind{

    i{
	  
		margin-right: 10px;  
		padding: 8px; 
		background-color: #22a7f0; 
		color:white; 

	}
  }

}


//    ###### STATISTICS ########

.statistics{

	padding: 60px 0; 
	background-color: #22a7f0; 
	color: white; 
	h3{
		font-weight: normal; 
		margin-bottom: 10px; 
		&::after{
		   content: " "; 
		   width: 30px; 
		   height: 1px;
		   background-color: white; 
		   display: block; 
		   margin: 0 auto; 
		   margin-top: 10px; 

		}
	}
	p{
		font-weight: normal; 
		text-transform: uppercase; 
		margin-bottom: 25px; 

	}



}


// blog ###################




// blog Slider############

.blog-slider{
	
	padding: 50px 0; 
	.slick-list{
		// height:550px! important ;

	}

	.de{
		background-color: #f8f8f8;
		height: 100%;
		padding:20px; 
	
		-webkit-box-sizing: border-box; 
		 -moz-box-sizing: border-box; 
		 -o-box-sizing: border-box;
	}
	span{
		color: #22a7f0; 
		font-weight: bold; 
	}
	.box {
	 padding: 0 20px; 
	 box-sizing: border-box; 
	 -webkit-box-sizing: border-box; 
	 -moz-box-sizing: border-box; 
	 -o-box-sizing: border-box; 
	 
	}
	.slick-slide{
		// width: 350px!important;
	// 	padding: 0 !important;
	// 	margin: 0 !important;
	// 	margin: 0 1%  !important; 
	
	}
	.slick-track{

		// width: 100% !important;
		// // background-color: red;
		// padding: 0 !important;
		// margin: 0 !important;

	}

 .box{
	
	 width: 100%; 
 }

}


@media only screen and (max-width: 960px) {
	.blog-slider{
		.slick-list{
			height:520px !important ;
	
		}

		.box{
			background-color: #f8f8f8;
		}
	}

  



}


// go ########## 

.go{
	padding: 50px 0; 
	background-color: #22a7f0; 
	color: #fff; 
	text-transform: uppercase; 
}



// footer #########
footer{
padding-top: 60px ; 

background-color: #161616;
color: white; 

i{
	color: #22a7f0; 
	margin-right: 10px; 
}
 


		h2{
			text-transform: uppercase; 
			color: #22a7f0; 
			margin-bottom: 40px; 
			font-weight: normal; 
		
		}
		p{
			margin-bottom: 0; 
			line-height: 1.8; 
		}
		li{
		   &::before{
			 
			   color: #22a7f0; 
			   display: inline-block; 
			   margin-right: 5px; 
			   font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f054";
		   }
		}
		.footer{
			margin-top: 20px; 
				padding: 30px 0; 
				background-color: black; 
				color: white; 
				i{
					color: #ec1c23; 
				}

		}

}

//  ###################  NEWS PAGE #################

.upper-page{
background-color: #22a7f0; 
padding: 20px 0; 
color: white; 
font-size: 18px;
	.fas{
		margin: 0 10px; 
	} 
}

.left{
 .box{
	 .image{
		 position: relative;
	 }
	 .info{
		 position: absolute; 
		 background-color: #22a7f0; 
		 color: rgba(255, 255, 255, 0.616); 
		 padding: 5px 5px; 
		 bottom:50px;
		
	 }
	 
	 button{
		 border-radius:0; 
		 padding: 8px 25px; 
		 font-weight: bold; 
	 }
	 h3{
		color: #505050; 
		margin: 20px 0; 
	}
	
 }
 
 
   .index{
		 display: flex; 
		  align-content: flex-end;
		 span{
			 margin-left: 5px;
			 display: inline-block;  
			 color: #4b4b4b; 
			 border: 1px solid #22a7f0; 
			 padding: 8px 12px ; 

			 &:nth-child(3){
				 background-color: #22a7f0; 
				 color: white; 
			 }
		 }
	 }


}

// right ############ 

.search{
	background-color: #ebebeb; 
	position: relative;
	border:none; 
	

	input{
		width: 100%; 
		background-color: #ebebeb; 
		padding: 5px 0; 
		border:0; 
		padding: 10px 10px; 
		box-sizing: border-box; 
		
	}
	.icon{
		display: inline-block; 
		display: flex; 
		align-items: center; 
		position: absolute; 
		right:10px;
		height:100%;
		// background-color: #ec1c23; 
		
	}
}

.right{

	.media{
			
		p{
			margin-bottom: 0; 
			line-height: 1.5; 
			color: #5a5a5a; 
		}
		h5{

			margin-bottom: 0;
		}

	}
	h3{
		margin-bottom: 25px; 
	}
	ul{
		li{

			margin-bottom: 10px; 
			&::before{
			 
				color: #22a7f0; 
				display: inline-block; 
				margin-right: 5px; 
				font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f054";
			}


		}

	}

}

//   ######## start contact ######

.contact-s{

	margin-bottom:0px;


	h2{
		color: #22a7f0; 
		&::after{
		 content: " "; 
		 width: 100px; 
		 height: 3px;
		 display: block; 
		 background-color: #22a7f0; 
		}
		margin-bottom: 40px; 
		text-transform: uppercase; 
		font-weight: normal; 


 }


 textarea{
padding: 2rem 0; 
text-indent: 1rem;

 }
 .btn{
	 border-radius: 0;
 }


}

.map{
	font-size: 0; 
	.container-fluid{
		
		padding: 0;
	}
}
 


// test slider slick 

.sl-box{
	background-color: red;
	img{
		object-fit: cover; 
		object-position: center; 
	}
   position: relative;
   .content{
		 position: absolute;
		 background-color:#22a7f0; 
		 width: 100%; 
		 height: 100%;
		 display: flex; 
		 justify-content: center; 
		 align-items: center; 
		//  visibility: hidden;
		i{
			color: white; 
			font-size: 2rem; 
		}
		 opacity: 0;
	
	 }
	 &:hover{
		.content{
			opacity: 1;
		}
	}
}

.ind-sl{

	i{
	
	margin-right: 10px;  
	padding: 8px; 
	background-color: #22a7f0; 
	color:white; 
	
}
}




		html, body {
		  margin: 0;
		  padding: 0;
		}
	
		* {
		  box-sizing: border-box;
		}
	
		.sl-slider {
			width: 100%;
			margin: 100px auto;
			// background-color: #22a7f0;
		}
	
		.slick-slide {
		  margin: 0px 20px;
		}
	
		.slick-slide img {
			width: 100%;
		
		}
	
	
		.slick-prev:before,
		.slick-next:before {
			color:#22a7f0;
		
		}
	
	
		.slick-slide {
		  transition: all ease-in-out .3s;
		  opacity: .2;
		}
		
		.slick-active {
		  opacity: .5;
		}
	
		.slick-current {
		  opacity: 1;
		}
	 

		// flipped- icon  -test 
		
		.icon-flipped {
			transform: scaleX(-1);
			-moz-transform: scaleX(-1);
			-webkit-transform: scaleX(-1);
			-ms-transform: scaleX(-1);
	}







//classes to be extended  plz add % if you dont use it 

.intro-sec {
	padding-top: 55px;
	padding-bottom: 70px;
	// padding: 60px 0; 
	//padding-bottom: 70px;
	text-align: center;

	h3,
	h2 {
		font-size: 30px;
		margin-bottom: 10px;
	}

	p {
		width: 80%;
		margin: 0 auto;
		color: $p-color;
		font-size: 18px;

	}

}


.cover {

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;


}


.transation {


	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

}

.box-size {

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;

}










